*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.audio_loop {
    display: none;
}
body {
    background-size: cover;
    background-image: url(./Desktop_itachi.gif);
}
@media (max-width:950px)
{
    body {
        background-size: cover;
        background-image: url(./Mobile_itachi.gif);
    }
}